---
layout: default
---

<div>
    <h2 class="vertical">První patro</h2>
    {% for page in site.tags.prvni-patro %}
        <div class="{% cycle 'prvni-patro': 'ggg2', 'ggg3' %}">
            {% assign content = page.content %}
            {% include vystava-small-partial.html %}
        </div>
    {% endfor %}
    {% for page in site.tags.prvni-patro-future %}
        <div class="{% cycle 'prvni-patro': 'ggg2', 'ggg3' %}">
            {% assign content = page.content %}
            {% include vystava-small-partial-future.html %}
        </div>
    {% endfor %}
</div>

<div class="ggg-clear">
    <h2 class="vertical">Přízemí</h2>
    {% for page in site.tags.prizemi %}
        <div class="{% cycle 'prizemi': 'ggg2', 'ggg3' %}">
            {% assign content = page.content %}
            {% include vystava-small-partial.html %}
        </div>
    {% endfor %}
</div>

