body {
    font: 12px Verdana, sans-serif;
    line-height: 162%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", Verdana, sans-serif;
    font-weight: 500;
}

h2 {
    font-size: 24px;
    line-height: 131%;
}

#container {
    width: 880px;
    margin: 0 auto;
    display: block;
}

.ggg1 {
    margin-right: 44px;
}

h2.vertical {
    position: absolute;
    margin-left: -37px;
    padding: 0;
    white-space: nowrap;
    text-align: right;
    /* CSS transforms, available in Safari/Chrome, Firefox 3.5+, Opera 10.5+ */
    -webkit-transform-origin: left top; -webkit-transform: rotate(270deg) translateX(-100%);
    -moz-transform-origin: left top;    -moz-transform: rotate(270deg) translateX(-100%);
    transform-origin: left top;      transform: rotate(270deg) translateX(-100%);
    /* Internet Explorer 8 rotate */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.black-container {
    background-color: #000;
    padding: 0 7px;
    color: #ccc;
}

.black-container a h2 {
    color: #fc0;
    text-decoration: none;
}

