/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fc0; color: #fff; text-shadow: none; }
::selection { background: #fc0; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* ===== CSS Sticky Footer =====================================================
   Source: http://www.cssstickyfooter.com/
   ========================================================================== */

* {margin: 0;}

html, body {height: 100%;}

#container {min-height: 100%;}

#main {overflow:auto; padding-bottom: 68px;}  /* must be same height as the footer */

#footer {
    position: relative;
    margin-top: -200px; /* negative value of footer height */
    height: 200px;
    clear:both;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
    <style type="text/css">
         #wrap {display:table;height:100%}
    </style>
<![endif]-->

 */


/* ==========================================================================
   Grids generated by Gridset: http://gridsetapp.com
   URL: http://get.gridsetapp.com/3920/
   ========================================================================== */

/* 3 colums grid: 3 column / gutter: 2.38636364% ---------------------------------------- */

[class*=ggg1],[class*=ggg2],[class*=ggg3],.ggg-all{display:block;float:left;margin-right:2.38636364%;margin-left:0;}.ggg1{width:24.43181818%;}.ggg2,.ggg3{width:34.09090909%;}.ggg1-ggg2 .ggg1{width:40.1119403%;}.ggg2-ggg3 .ggg2,.ggg2-ggg3 .ggg3{width:48.30917874%;}.ggg1-ggg2 .ggg2{width:55.97014925%;}.ggg1-ggg2{width:60.90909091%;}.ggg2-ggg3{width:70.56818182%;}.ggg-all{width:100%;margin-left:0;margin-right:0;}

/* 3 colums grid margins and clearing ----- */

.ggg2-ggg3 .ggg2{margin-right:3.3816425171431%;}.ggg1-ggg2 .ggg1{margin-right:3.9179104536729%;}[class*=-ggg2] [class*=-ggg2],[class*=-ggg2] .ggg2,[class*=-ggg3] [class*=-ggg3],[class*=-ggg3] .ggg3,[class*=-ggg3],.ggg3{margin-right:0;}

/* 3 colums grid padding ----- */

.ggg-pad{padding-left:1.19318182%;padding-right:1.19318182%;left:-1.19318182%;margin-right:0;}.ggg-padin{padding-left:1.19318182%;padding-right:1.19318182%;}.ggg2-ggg3 .ggg-pad{padding-left:1.69082126%;padding-right:1.69082126%;left:-1.69082126%;margin-right:0;}.ggg2-ggg3 .ggg-padin{padding-left:1.69082126%;padding-right:1.69082126%;}.ggg1-ggg2 .ggg-pad{padding-left:1.95895523%;padding-right:1.95895523%;left:-1.95895523%;margin-right:0;}.ggg1-ggg2 .ggg-padin{padding-left:1.95895523%;padding-right:1.95895523%;}.ggg-padfull{padding-left:2.38636364%;padding-right:2.38636364%;left:-2.38636364%;margin-right:0;}.ggg-padinfull{padding-left:2.38636364%;padding-right:2.38636364%;}.ggg2-ggg3 .ggg-padfull{padding-left:3.38164252%;padding-right:3.38164252%;left:-3.38164252%;margin-right:0;}.ggg2-ggg3 .ggg-padinfull{padding-left:3.38164252%;padding-right:3.38164252%;}.ggg1-ggg2 .ggg-padfull{padding-left:3.91791045%;padding-right:3.91791045%;left:-3.91791045%;margin-right:0;}.ggg1-ggg2 .ggg-padinfull{padding-left:3.91791045%;padding-right:3.91791045%;}.ggg-pad,.ggg-padfull{position:relative;}.ggg-padin,.ggg-padinfull{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}[class*=-ggg3].ggg-pad,.ggg3.ggg-pad,.ggg-padfull{margin-right:-2.38636364%;}.ggg2-ggg3 [class*=-ggg3].ggg-pad,.ggg2-ggg3 .ggg3.ggg-pad,.ggg2-ggg3 .ggg-padfull{margin-right:-3.38164252%;}.ggg1-ggg2 [class*=-ggg2].ggg-pad,.ggg1-ggg2 .ggg2.ggg-pad,.ggg1-ggg2 .ggg-padfull{margin-right:-3.91791045%;}[class*=-ggg3].ggg-padfull,.ggg3.ggg-padfull{margin-right:-4.77272728%;}.ggg2-ggg3 [class*=-ggg3].ggg-padfull,.ggg2-ggg3 .ggg3.ggg-padfull{margin-right:-6.76328503%;}.ggg1-ggg2 [class*=-ggg2].ggg-padfull,.ggg1-ggg2 .ggg2.ggg-padfull{margin-right:-7.83582091%;}

/* 3 colums min-widths ----- */

.ggg1{min-width:215px;}.ggg2{min-width:300px;}.ggg3{min-width:300px;}

/* 3 colums grid relationships ----- */

[class*=ggg2-],[class*=ggg2-][class*=ggg2-].ggg-clear,.ggg2,.ggg2.ggg2.ggg-clear{margin-left:26.81818182%;}.ggg1+.ggg3{margin-left:36.47727273%;}.ggg1-ggg2 .ggg2,.ggg1-ggg2 .ggg2.ggg2.ggg-clear{margin-left:44.02985075%;}.ggg2-ggg3 .ggg3,.ggg2-ggg3 .ggg3.ggg3.ggg-clear{margin-left:51.69082126%;}.ggg3,.ggg3.ggg3.ggg-clear{margin-left:63.29545455%;}[class*=ggg1-] [class*=ggg1-],[class*=ggg1-] .ggg1,[class*=ggg1]+[class*=ggg2],[class*=ggg2-] [class*=ggg2-],[class*=ggg2-] .ggg2,[class*=ggg2]+[class*=ggg3],[class*=ggg3-] [class*=ggg3-],[class*=ggg3-] .ggg3,[class*=ggg3]+[class*=ggg4]{margin-left:0;}

.ggg1,[class*=ggg1-],.ggg-all,.ggg-clear{clear:left;}

/* 3 colums hiding ----- */

.ggg-hide{display:none !important;}


/* ===== Primary Styles ========================================================
   Author: Tomas Horacek https://twitter.com/heracek
   ========================================================================== */


body {
    font: 12px Verdana, sans-serif;
    line-height: 1.618;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    line-height: 1.25;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

h2 {
    font-size: 24px;
}

p {
  margin: 1em 0;
}

#header {
    margin-top: 35px;
}

#header h1 {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 12px 18px;
    margin: 0;
}

#header h1 a {
    color: #fc0;
}

#header h2 {
    margin: 0;
    padding: 12px 0;
    font-weight: 400;
}

#header h2 a {
    color: #000;
}

#navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#navigation li a {
    font-family: "Ubuntu", sans-serif;
    display: block;
    background-color: black;
    font-size: 24px;
    font-weight: 500;
    padding: 9px 18px;
    margin-bottom: 4px;
    color: white;
    text-decoration: none;
}

#navigation li a:hover,
#navigation li.active a {
    color: #fc0;
}

#container {
    width: 880px;
    margin: 0 auto;
    display: block;
    padding: 0 25px;
}

.ggg1 {
    margin-right: 44px;
}

.csstransforms h2.vertical {
    position: absolute;
    margin: 9px 0 0 -39px;
    padding: 0;
    white-space: nowrap;
    text-align: right;
    /* CSS transforms, available in Safari/Chrome, Firefox 3.5+, Opera 10.5+ */
    -webkit-transform-origin: left top;
    -webkit-transform: rotate(270deg) translateX(-100%);
    -moz-transform-origin: left top;
    -moz-transform: rotate(270deg) translateX(-100%);
    -o-transform-origin: left top;
    -o-transform: rotate(270deg) translateX(-100%);
    /* Internet Explorer 8 rotate */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.black-container {
    background-color: #000;
    padding: 3px 7px;
    color: #ccc;
}

.black-container.last {
    margin-bottom: 60px;
}

.black-container a:link {
    color: #fff;
}

.black-container a:visited {
    color: #ccc;
}

.black-container a:hover {
    color: #fc0;
}

.black-container h2 {
    margin: 0;
}

.black-container h2 a:link,
.black-container h2 a:visited,
.black-container h2 a:hover,
.black-container h2 a {
    color: #fc0;
}

.black-container h2 .subtitle {
    font-weight: 400;
}

.black-container .small-photo {
    display: block;
    margin: 10px 0 5px 0;
}

.black-container p:first-child {
    margin-top: 2px;
}

.black-container p:last-child {
    margin-bottom: 2px;
}

.black-container .more {
    height: 20px;
}

.black-container .more a {
    display: inline-block;
    background: #fc0;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding: 0 12px;
    line-height: 23px;
    float: right;
    margin-right: -7px;
}

ul.photo-list {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-top: 11px;
}

ul.photo-list li {
    display: inline-block;
    margin: 0 9px 11px 0;
}

.overview-link {
    display: inline-block;
    background-color: #fc0;
    float: right;
    position: relative;
    top: -30px;
    height: 30px;
}

.overview-link a:link,
.overview-link a:hover,
.overview-link a:visited,
.overview-link a {
    display: block;
    padding: 6px 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.overview-link a:hover {
    color: white;
}

.time-container {
    padding-top: 10px;
}

.time-container h3 {
    background-color: #000;
    padding: 7px 7px;
    color: white;
    font-size: 13px;
}

.time-container h3.highlite {
    color: #fc0;
}

.time-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.time-container ul li {
    padding: 5px 7px;
}

.time-container li a:link,
.time-container li a:visited,
.time-container li a {
    color: black;
    text-decoration: none;
}

.time-container li a:hover {
    color: black;
    text-decoration: underline;
}

#footer {
    width: 100%;
    clear: both;
    background-color: #000;
    color: #fff;
}

#footer #footer-wrapper {
    width: 880px;
    margin: 0 auto;
}

#footer h6 {
    padding-top: 20px;
    color: #fc0;
    font-size: 14px;
    margin: 0;
}

#footer a {
    color: white;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

.hide {
    display: none;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
