<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}Špejchar ŽELEČ</title>
</head>
<body>
    <div id="container">
        <header>
            <a href="/"><h1>Špejchar ŽELEČ</h1></a>
            <span class="subtitle">muzeum a obrazárna</span>
        </header>
        <navigation>
            <ul>
                <li><a href="/spejchar/">Špejchar</a></li>
                <li><a href="/obrazarna/">Obrazárna</a></li>
            </ul>
        </navigation>
        {{ content }}
    </div>
</body>
</html>
